*{
  font-family: monospace;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


.sidebar{
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  background: blue;
  border: 1px solid black;
}


.sidebar header{
  font-size: 22px;
  color: red;
  text-align: center;
  line-height: 70px;
  background: lightyellow;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid black;
  transition: .3s;
}

.sidebar ul li:hover a{
  padding-left: 50px;
}

.sidebar ul li i{
  margin-right: 16px;
}


#navbar_svg{
  position: fixed;
  right: 50px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}


header{
  width: 100%;
  height: 100vh;
  background: url("walpaper.jpg");
  background-size: cover;
}

#sidebar{
  padding: 100px 0px;
  position: fixed;
  width: 0px;
  height: 100vh;
  background: lightgreen;
  top: 0;
  right: 0;
}


#sidebar ul li{
  list-style-type: none;
}


#sidebar ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px 30px;
  /* line-height: 70px; */
  display: block;
  padding: 20px;
}


#sidebar ul li a:hover{
  background: rgba(255, 255, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
